/* colors
blueish - #00b7f3
navbar off white - #f4f4f4
background white - #f9f9f9
*/

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #FFFEFE;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.top-bar, .top-bar ul {
	font-family: 'Nunito', sans-serif;
	color: #00b7f3;
	background-color: white;
}

.top-bar-title {
	padding-left: 25px;
	
}

.title-bar {
	background-color: white;
	
}

.top-bar .toggle-topbar.menu-icon a::after {
	-webkit-box-shadow: 1px 10px 1px 1px #00b7f3, 1px 16px 1px 1px #00b7f3, 1px 22px 1px 1px #00b7f3;
box-shadow: 0 10px 0 1px #00b7f3, 0 16px 0 1px #00b7f3, 0 22px 0 1px #00b7f3;
	
}

.top-bar-right {
	padding: 7px;
}


.wrap {
	flex: 1;
}

.wrap1 {
	
	margin: auto;
	width: 90%;
}

.wrap2 {
	width: 80%;
	max-width: 1000px;
	margin: auto;
	padding-top: 70px;
	padding-bottom: 70px;
	
}

.space1 {
	padding-top: 30px;
	padding-bottom: 30px;
	
}

.menu {
	background-color: none;
	font-size: 1.05em;
	margin: auto;
	
}


h1, h2, h3, h4, h5, h6 {
	font-family: 'Nunito', sans-serif;
}



.center {
	text-align: center;
	
}

.center-wrap {
	margin: 0 auto;
}

.hero-section {
  background: url("../img/heavenly.jpg") 50% no-repeat;
  background-size: cover;
  padding-top: 200px;
	padding-bottom: 200px;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


.margin1 {
	margin-top: 20px;
}

.font {
	font-family: 'Nunito', serif;
	
}	

.lead {
	text-align: center;
	
}

.footer {
	width: 100%;
	background-color: white;
	padding: 20px;
}

.contact {
	padding-top: 50x;
	font-size: .8em;
	color: gray;
	padding-bottom: 50px;
	text-align: center;
}

.contact-header {
	text-decoration: underline;
	
}

.contact p {
	line-height: 0;
	
}

